@{
    Layout = "_LayoutAccount";
}

@section Styles{}

@section Scripts{
    <script src="~/admin-app/controllers/account/forget.js" asp-append-version="true"></script>
    <script>
        var forget = new ForgetController();
        forget.initialize();
    </script>
}

<div class="page">
    <div class="">
        <div class="container">
            <div class="">
                <div class="col col-login mx-auto">
                    <div class="text-center">
                        <img src="~/admin-side/dashlot-admin/HTML//assets/images/brand/logo1.png" class="header-brand-img dark-theme mx-auto text-center h-100 mb-5  " alt="Dashlot logo">
                    </div>
                </div>
                <div class="col-xl-4 justify-content-center mx-auto text-center">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <form>
                                    @Html.AntiForgeryToken()
                                    @*<div class="col col-login mx-auto mt-4">
                                        <div class="text-center">
                                            <img src="~/admin-side/dashlot-admin/HTML/assets/images/brand/logo web.png" class="header-brand-img desktop-logo h-100 mb-3" alt="Dashlot logo" style="width:240px;" />
                                        </div>
                                    </div>*@
                                    <div class="card-body p-6 about-con pabout">
                                        <div class="card-title text-center mb-4">Quên Mật Khẩu</div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="txtEmail" placeholder="Email">
                                        </div>
                                        <div class="form-footer mt-1">
                                            <a class="btn btn-success btn-block" id="btnForget">Gửi</a>
                                        </div>
                                        <hr class="divider">
                                        <div class="text-center text-muted mt-3 ">
                                            Trở lại màn hình <a href="/Admin/Account/Login" class="text-primary">Đăng nhập</a>.
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>