@model ResetPasswordViewModel
@{
    Layout = "_LayoutAccount";
}

@section Styles{
    <link href="~/admin-app/controllers/account/reset-password.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/admin-app/controllers/account/reset-password.js" asp-append-version="true"></script>
    <script>
        var resetPassword = new ResetPasswordController();
        resetPassword.initialize();
    </script>
}

<div class="page">
    <div class="">
        <div class="container">
            <div class="">
                <div class="col col-login mx-auto">
                    <div class="text-center">
                        <img src="~/admin-side/dashlot-admin/HTML//assets/images/brand/logo1.png" class="header-brand-img dark-theme mx-auto text-center h-100 mb-5  " alt="Dashlot logo">
                    </div>
                </div>
                <div class="col-xl-4 justify-content-center mx-auto text-center">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <form class="m-login__form m-form">
                                    @*<div class="col col-login mx-auto mt-4">
                                <div class="text-center">
                                    <img src="~/admin-side/dashlot-admin/HTML/assets/images/brand/logo web.png" class="header-brand-img desktop-logo h-100 mb-3" alt="Dashlot logo" style="width:240px;" />
                                </div>
                            </div>*@
                                    <div class="card-body p-6 about-con pabout">
                                        <div class="card-title text-center  mb-4">ĐẶT LẠI MẬT KHẨU</div>
                                        @Html.AntiForgeryToken()

                                        <input type="hidden" value="@Model.Code" id="hdCode">
                                        <div class="form-group">
                                            <input class="form-control" type="text" id="txtEmail" name="txtEmail" placeholder="Email">
                                        </div>

                                        <div class="form-group">
                                            <input class="form-control" type="password" id="txtPassword" name="txtPassword" placeholder="Mật Khẩu Mới">
                                        </div>

                                        <div class="form-group">
                                            <input class="form-control" type="password" id="txtConfirmPassword" name="txtConfirmPassword" placeholder="Xác Nhận Mật Khẩu">
                                        </div>

                                        <div class="form-footer mt-1">
                                            <a class="btn btn-success btn-block" id="btnResetPassword">Đặt lại</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
