@{
    Layout = "_LayoutAccount";
}
<div class="page">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 justify-content-center mx-auto text-center">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <form class="m-login__form m-form">
                                    <div class="col col-login mx-auto mt-4">
                                        <div class="text-center">
                                            <img src="~/admin-side/dashlot-admin/HTML/assets/images/brand/logo web.png" class="header-brand-img desktop-logo h-100 mb-3" alt="Dashlot logo" style="width:240px;" />
                                        </div>
                                    </div>
                                    <div class="card-body p-6 about-con pabout">
                                        <div class="card-title text-center  mb-4">ĐẶT LẠI MẬT KHẨU</div>

                                        <div class="text-center fs-15 mt-3">
                                            Mật khẩu của bạn đã được thiết lập lại. Vui lòng <a href="/admin/account/login" class="text-primary"><strong>nhấn vào đây để đăng nhập</strong></a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>