<footer class="footer-main icon-footer">
    <div class="container">
        <div class="  mt-2 mb-2 text-center">
            Copyright © 2019 <a href="#" class="fs-14 text-primary">Salanests</a>. Designed by <a href="https://spruko.com/" class="fs-14 text-primary">Spruko Technologies Private Limited</a> All rights reserved.
        </div>
    </div>
</footer>


@*<footer class="footer-main leftmenu-footer">
        <div class="container">
            <div class="col-lg-12 col-sm-12  mt-2 mb-2 text-center">
                Bản quyền © 2020 <a href="#" class="fs-14" style="color: #cb9785 !important;">Salanests</a>. Thiết kế bởi <a href="#" class="fs-14" style="color: #cb9785 !important;">Đội Ngũ Valuesshare</a> Đã đăng ký bản quyền.
            </div>
        </div>
    </footer>*@