<div id="modal-link" class="modal fade" tabindex="-1" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title badge badge-secondary-light txtName fs-21" style="width:100%" id="exampleModalLabel">
                    Chi Tiết
                </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtLink" class="form-control-label">Link Liên Kết</label>
                    <div class="input-group">
                        <input class="form-control" id="txtLink">
                        <span class="input-group-append">
                            <button class="btn btn-secondary-light" id="btnCopyReferlink" type="button">
                                <i class="fa fa-copy"></i>
                            </button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="txtDescription" class="form-control-label">Ghi Chú</label>
                    <textarea id="txtDescription" rows="3" class="form-control"></textarea>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" id="btnCancel" class="btn btn-dark" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>