<div class="sidebar-modal-area">
    <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="flaticon-close-cross"></i></span></button>
                    <h2 class="modal-title" id="myModalLabel2"><a href="#home">Nikata</a></h2>
                </div>
                <div class="modal-body">
                    <div class="sidebar-modal-widget">
                        <h3 class="title">Additional Links</h3>
                        <ul>
                            <li><a href="#">join</a></li>
                            <li><a href="#">Register</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </div>
                    <div class="sidebar-modal-widget">
                        <h3 class="title">Contact Info</h3>
                        <ul class="contact-info">
                            <li>
                                <i class="flaticon-facebook-placeholder-for-locate-places-on-maps"></i>
                                Address
                                <span>1660 Travis Street Miramar, FL 33025, California</span>
                            </li>
                            <li>
                                <i class="flaticon-close-envelope"></i>
                                Email
                                <span><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="3f575a5353507f5156545e4b5e115c5052">[email&#160;protected]</a></span>
                            </li>
                            <li>
                                <i class="flaticon-telephone-handle-silhouette"></i>
                                Phone
                                <span>+123 456 7890</span>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-modal-widget">
                        <h3 class="title">Connect With Us</h3>
                        <ul class="social-list">
                            <li>
                                <a href="#"><i class="flaticon-twitter-black-shape"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon-youtube"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon-facebook-app-symbol"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon-linkedin-logo"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon-instagram-logo"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>