<nav class="navbar navbar-expand-lg navbar-light mein-navbar mein-navbar-two fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#home">
            <img src="~/images/logo-taigacapitalltd.png" width="60"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a href="https://taigacapitalltd.net/whitepaper/TaigaCapital_WhitePaper.pdf" target="_blank" class="nav-link">
                        WhitePaper
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#what-it-taigaCapitalLtd">What it works</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#buy">Token</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#roadmap">Roadmap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#team">Team</a>
                </li>
                @*<li class="nav-item">
                    <a class="nav-link" href="/admin/account/login">Register/Login</a>
                </li>*@
                <li class="nav-item buy-token">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#myModal2"><i class="flaticon-menu-2"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>