@model string
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<body>
    <div style="padding: 30px 20px 30px 20px;">
        <div style="display:block">
            <div style="text-align:center;">

                <h3 style="font-size: 35px;color: #FF5722;">Hoàn thành việc quên mật khẩu của bạn</h3>

                <div style="color:black; font-size:17px;font-family:Tahoma;margin-bottom:10px">
                    Bạn (hoặc ai đó giả vờ là bạn) đã yêu cầu đăng ký tài khoản tại
                    <a href="http://Salanests.com/" style="font-weight:600; text-decoration: underline;">
                        www.Salanests.com
                    </a>. Nếu đây không phải là bạn, vui lòng bỏ qua email này và tài khoản của bạn sẽ bị xóa khỏi cơ sở dữ liệu của chúng tôi.
                </div>

                <div style="color: #565656;font-size: 14px;font-family:Tahoma;margin-bottom:40px">
                    <strong>Để đặt lại mật khẩu của bạn, vui lòng nhấp vào liên kết sau:</strong>
                </div>

                <div style="color: #565656;font-size: 14px;font-family:Tahoma;margin-bottom:10px">
                    <a href="@Model" style="text-decoration: none;padding: 15px;background: #FFC107;border-radius: 25px;padding-right: 25px;padding-left: 25px;font-size: 17px;color: white;">
                        Đặt lại mật khẩu của bạn
                    </a>
                </div>

            </div>
        </div>
    </div>
</body>
</html>